In [2]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize , sent_tokenize

Load Data Set wikir and lotte

In [16]:
file_path = 'data/lifestyle_dev.csv'
lifestyle_dev = pd.read_csv('data/lifestyle_dev.csv', delimiter='\t', header=None, quoting=3, engine='python')

In [17]:
lifestyle_dev.head()

   0                                                  1
0  0  In my experience rabbits are very easy to hous...
1  1  ...rabbits can be easily trained to use a litt...
2  2  It could be a multitude of things. Lack of exe...
3  3  I've had a lot of success with crate training....
4  4  I've seen on the "Dog Whisperer" that dogs can...

In [20]:
lifestyle_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268893 entries, 0 to 268892
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       268893 non-null  int64
 1   1       268893 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.1+ MB

In [21]:
lifestyle_dev.drop(columns=0,inplace=True,axis=0)

In [23]:
lifestyle_dev = lifestyle_dev.rename(columns={1: 'DOC'})

In [26]:
file_path = 'data/wikIR1k/documents.csv'
wikIR1k_data=pd.read_csv(file_path)

In [27]:
wikIR1k_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369721 entries, 0 to 369720
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_right    369721 non-null  int64
 1   text_right  369721 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.6+ MB

In [28]:
wikIR1k_data.head()

   id_right                                         text_right
0   1781133  it was used in landing craft during world war ...
1   2426736  after rejecting an offer from cambridge univer...
2   2224122  mat zan coached kuala lumpur fa in 1999 and wo...
3    219642  a barcode is a machine readable optical label ...
4   1728654  since the subordination of the monarchy under ...